body {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	color: white;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	touch-action: none;
	user-select: none;
}
body:not(.frame) {
	background-image: url("../Assets/Shop.png");
	background-size: cover;
}
.loading-wrapper {
	bottom: 25%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.loading-flex {
	display: flex;
	flex-direction: column;
}
.loading-icon {
	height: 55px;
	margin: 8px auto;
	width: 55px;
}
.loading-outer {
	height: 25px;
	margin: auto;
	outline: 1px solid black;
	width: 200px;
}
.loading-bar-wrapper {
	height: 15px;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
	width: 190px;
}
.loading-bar {
	background-color: white;
	height: 100%;
	width: 0%;
}
.loading-text {
	bottom: 15px;
	font-size: 20px;
	margin-top: 32px;
	position: relative;
	text-align: center;
}
.in-game {
	-webkit-text-stroke: 1px black;
	font-weight: bold;
	text-transform: uppercase;
}
.hid {
	display: none;
}
.loading .game {
	background-color: #0184CE;
}
.game-box {
    border: none;
    height: 610px;
    position: absolute;
	transform-origin: top;
    width: 100%;
}
.game {
	height: 610px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 1000px;
}
.menu {
	height: 100%;
}
.game-menu, .background {
	display: block;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.game-menu {
	position: absolute;
}
.start-button, .vr-start {
	bottom: 25%;
	cursor: pointer;
	height: 95px;
	position: absolute;
	right: 17%;
}
.vr-start {
	bottom: 6%;
	display: none;
}
/*@media(-webkit-nintendo-switch-device-mode: -webkit-nintendo-switch-device-handheld) {
	.vr-start {
		display: block;
	}
}*/
.start-button .button, .vr-start .button {
	height: 100%;
}
.start-button span, .vr-start span {
	font-size: 50px;
	left: 15px;
	position: absolute;
	text-align: center;
	top: 14px;
	width: 100%;
}
.vr-start span {
	left: -1px;
	top: 15px;
}
.start-button .start, .vr-start .start {
	left: 30px;
	position: absolute;
	top: 10px;
}
.logo {
	bottom: 43%;
	height: 280px;
	right: 16%;
	position: absolute;
	pointer-events: none;
}
.play-area, .vr-setup {
	overflow: hidden;
	position: relative;
}
.vr-setup {
	height: 100%;
	margin-left: 7.3%;
	text-align: center;
	width: 85%;
}
.background {
	height: 105%;
	width: 105%;
}
.alert {
	font-size: 55px;
	position: absolute;
	top: 25%;
	text-align: center;
	width: 100%;
}
.alert.countdown {
	color: yellow;
    font-size: 180px;
    top: 15%;
}
.platform {
	bottom: 20px;
	height: 125px;
	left: -20px;
	position: absolute;
	z-index: 50;
}
.truck {
	bottom: 10px;
	height: 530px;
	right: -5px;
	position: absolute;
	z-index: 100;
}
.stack {
	bottom: 53px;
	height: 500px;
	left: 30px;
	position: absolute;
	width: 150px;
	z-index: 50;
}
.stack .bag {
	position: absolute;
}
.stack .bag img {
	height: 145px;
	transform: rotate(15deg);
}
.player {
	bottom: 65px;
	height: 245px;
	position: absolute;
}
.player img {
	height: 100%;
	position: relative;
}
.player img[src$="Fish_Dead.png"], .player img[src$="Vase_Dead.png"] {
	height: 84%;
	top: 20%;
}
.player .hitbox {
	height: 8%;
	left: 35.5%;
	position: absolute;
	top: 32%;
	width: 33%;
}
.player .hitbox.visible {
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 80;
}
.badluck {
	bottom: 10%;
	font-size: 55px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 20;
}
.scoreboard {
	font-size: 28px;
	height: 12%;
	left: 6%;
	position: absolute;
	top: 1.5%;
	width: 80%;
}
.game img {
	pointer-events: none;
}
.lives {
	margin-right: 12%;
}
.truck-num {
	margin-right: 5%;
}
.hazard {
	position: absolute;
}
.hazard.bag {
	height: 150px;
}
.hazard.bag.broken {
	height: 60px;
}
.hazard.anvil {
	height: 77px;
}
.hazard.anvil.broken {
	height: 90px;
	margin-bottom: -14px;
	margin-left: -8px;
}
.hazard.fish.broken {
	margin-left: -16px;
}
.vr-help {
	-webkit-box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset;
	background-color: #0184CE;
	border-radius: 100%;
	display: inline-block;
	height: 150%;
	margin-top: -15%;
	text-align: center;
	width: 97%;
}
.headset {
	display: inline-block;
	height: 230px;
	margin-top: 350px;
}
.help-text, .vr-final {
	-webkit-text-stroke: initial;
	font-size: 25px;
	font-weight: normal;
	margin-top: 45px;
	text-transform: initial;
}
.vr {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 49%;
}
.vr.right {
	bottom: 100%;
	float: right;
}
.vr-viewing {
	border-radius: 100%;
	display: block;
	float: left;
	height: 97%;
	overflow: hidden;
	position: relative;
	width: 700px;
}
.right-eye {
	float: right;
}
.vr-viewing-shadow {
	-webkit-box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset;
	border-radius: 100%;
	height: 97%;
	position: absolute;
	width: 700px;
	z-index: 150;
}
.right-shadow {
	right: 0px;
}
.vr .vr-setup {
	background-color: #0184CE;
}
.vr .headset {
	height: 140px;
	margin-top: 158px;
	transform: rotate3d(1, 0, 0, 20deg);
}
.vr-final {
	font-size: 20px;
	margin-top: 39px;
}
.right-eye .headset {
	margin-left: 2px;
}
.right-eye .vr-final {
	margin-left: 15px;
}
.vr-go {
	display: inline;
	filter: invert(1);
	height: 15px;
	margin-left: 5px;
	margin-right: 5px;
	transform: scale(1.9);
}
.how-to {
	-webkit-text-stroke: initial;
	font-size: 27px;
	font-weight: normal;
	margin-top: 294px;
	text-align: center;
	text-transform: initial;
}
.how-to .vr-go {
	margin-bottom: 2px;
	transform: scale(2.3) rotate(90deg);
}
.right-eye .how-to {
	margin-right: 10px;
}
@keyframes continue {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.ok {
	display: none;
    filter: invert(1);
    margin-left: 22px;
    margin-top: 2px;
    position: absolute;
}
.ok.flash {
	animation: continue 3s linear 0.5s infinite;
}
.right-eye .ok {
	margin-left: 11px;
}
.vr .game {
	height: 52%;
	margin-left: 7.6%;
	margin-top: 160px;
	transform: scale(0.8);
}
.vr .background {
	height: auto;
	margin-left: -45px;
	margin-top: -83px;
	position: relative;
	width: 123%;
}
.right-eye .background {
	left: 11.5px;
}
.vr .alert {
	font-size: 42px;
	z-index: 120;
}
.right-eye .alert {
	margin-left: -17px;
}
.vr .platform {
	height: 63px;
}
.right-eye .platform {
	left: -27px;
}
.vr .stack {
	bottom: 2px;
	height: 180px;
	left: 1px;
	width: 75px;
}
.right-eye .stack {
	left: -5px;
}
.vr .stack .bag img {
	height: 75px;
}
.vr .player {
	bottom: 13px;
	height: 130px;
}
.vr .player .hitbox {
	left: 27.5%;
	top: 31%;
	width: 48%;
}
.right-eye .player {
	margin-left: -4px;
}
.vr .badluck {
	bottom: 12%;
	margin-left: -17px;
	z-index: 120;
}
.vr .scoreboard {
	font-size: 22px;
	left: 18%;
	top: 9%;
	width: 65%;
}
.right-eye .scoreboard {
	left: 17.7%;
}
.vr .truck {
	bottom: -3px;
	height: 260px;
	right: -14px;
}
.right-eye .truck {
	right: -7px;
}
.right-eye .hazard {
	margin-left: -4px;
}
.vr .hazard.bag {
	height: 75px;
}
